body {
  font-family: Arial, sans-serif;
    margin: 0;
  padding: 0;
  background-color: #d4bdbd
  color: #100505;
}
header  {
  background-color: #d4a574; /* A warm earthy color */
  color: rgb 9101, 78, 78) ;
  text-align: center;
  padding: 2rem  0;
}
.search-section {
  text-align:  center;
  padding: 2rem;
}
#searchInput {
  padding: 0.7rem
  width: 300px
  border: lpx solid  #ccc;
border-radius: 4px;
}
button {
  padding; 0.7rem  1.5rem;
  background-color: #8b4512; /* A brown 
  color */
  color: rgb (235, 222, 222) ;
  border-radius:4px;
  cursoe: pointer;
}
.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding:20px:
}
.recipe-card {
    background: rgb(235, 232, 232);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 300px;
    padding: 15px;
    text-align: center;
}

.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

